n8n-workflows/hackernews-search.json
{
  "name": "IdeaForge - HackerNews Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ideaforge/hackernews-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9422046f-fee5-481a-8e42-975d3900cf9a",
      "name": "Webhook",
      "webhookId": "4589dfe7-8160-4ec8-a401-b8e5760dc1b7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the request method\nconst method = $json.method || 'POST';\nconst headers = $json.headers || {};\nconst body = $json.body || {};\n\n// Handle OPTIONS preflight request\nif (method === 'OPTIONS') {\n  return {\n    statusCode: 200,\n    body: { message: 'OK' },\n    preflight: true\n  };\n}\n\n// Check API key authentication (only for non-OPTIONS requests)\nconst apiKey = headers['x-api-key'];\nconst validApiKey = 'local-dev-api-key-12345';\n\nif (!apiKey) {\n  throw new Error('Missing API key. Please provide X-API-Key header');\n}\n\nif (apiKey !== validApiKey) {\n  throw new Error('Invalid API key');\n}\n\n// Validate required fields\nif (!body.query) {\n  throw new Error('Missing required field: query');\n}\nif (!body.sessionId) {\n  throw new Error('Missing required field: sessionId');\n}\n\n// Sanitize query (max 200 chars)\nbody.query = body.query.trim().substring(0, 200);\n\n// Add timestamp and auth info\nbody.processedAt = new Date().toISOString();\nbody.authenticated = true;\n\n// Return the validated data\nreturn body;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "618b18cb-5ba6-4a23-afa5-13f6ea750889",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-API-Key"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ],
      "id": "109b1b3e-1c80-44b3-89a5-5c523cf684ea",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0dd46679-90ea-4465-86d1-82ce12458de5",
  "meta": {
    "instanceId": "92a0fdacd999c0291780e000ee0e5831611937a38c77bda4c332c38b95ff4613"
  },
  "id": "lQiISGzGDAvI8ewZ",
  "tags": []
}